---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* [사용자 정의] 프로필 사진 타원형 문제 해결 */
.author__avatar img {
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
}
